node_modules/
bootstrap-5.3.8-dist/
.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
backup.js
web/assets/testscript.js
CODEX_CLI_PROJECT_GUIDE.md
Tài liệu xây dựng web.txt
ZaloPay-APIs-Integration-Document.pdf
